@model SBA.DataModels.ArrangementResultReport
@{
    ViewData["Title"] = "ArrangementResultReport";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}
<br>
<div class="m-panel-report">
    <div class="modal-body-left">
        <form id="form-arrangement-result">
            <div class="row justify-content-md-center">
                <h4 class="txt-black">เอกสารแนะนำการจัดวางสินค้าลงกล่อง</h4>
            </div>
            <div class="row">
                <div class="form-group form-inline col-6">
                    <label for="logisticName">Logistic Name : </label>
                    <input class="form-control text-center txt-primary txt-bold" type="text" id="logisticName"
                           name="logisticName" readonly value="@Model.LogisticName">
                </div>
                <div class="form-group form-inline col-6">
                    <label for="totalPrice">TotalPrice :</label>
                    <input class="form-control text-center txt-primary txt-bold" type="text" id="totalPrice"
                           name="totalPrice" required value="@Model.TotalPrice">
                    <label>baht</label>
                </div>
                <div class="w-100"></div>
                <div class="form-group form-inline col-6">
                    <label for="OrderNo">Order Number : </label>
                    <input class="form-control text-center txt-primary txt-bold" type="text" id="OrderNo"
                           name="OrderNo" readonly value="@Model.OrderNumber">
                </div>
                <div class="form-group form-inline col-6">
                    <label class="text-left" for="CustomerName"> Customer : </label>
                    <p class="col-8 form-control text-wrap text-p text-left txt-primary txt-bold">@Model.CustomerName</p>
                </div>
                <div class="w-100"></div>
                <div class="form-group form-inline col-6">
                    <label for="box">Box Amount : </label>
                    <input class="form-control text-center txt-primary txt-bold" type="text" id="OrderNo"
                           name="OrderNo" readonly value="@Model.ResultBoxes.Count() boxes">
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div>
    @for (var j = 0; j < Model.ResultBoxes.Count(); j++)
    {
        @if (j > 0)
        {
            <div style='page-break-before: always;'></div>
        }
        <div class="m-panel-report bg-lighterdark">
            <div class="m-panel-header txt-white">
                <h class="m-panel-name">Order Number : @Model.OrderNumber BoxNo : @(j + 1) Box : @Model.ResultBoxes[j].BoxName </h>
                <label class="text-right">Total Layer @Model.ResultBoxes[j].layers.Count() Layers</label>
            </div>
            <div>
                @for (var k = 0; k < Model.ResultBoxes[j].layers.Count(); k++)
                {
                    <div class="m-panel-result-report col-sm-offset-1" style='page-break-inside: avoid;'>
                        <div class="m-panel-header txt-white">
                            <h> Box: No.@(j + 1)  @Model.ResultBoxes[j].BoxName Layer: @(k + 1)</h>
                            <label class="text-right">Total  @Model.ResultBoxes[j].layers[k].blocks.Count() packages</label>
                        </div>
                        <br>
                        <img alt="Embedded Image" src="data:image/png;base64,@Model.ResultBoxes[j].layers[k].Export()" />
                        <br>
                        <table class="table text-center " style="width:100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Product Name</th>
                                    <th>Position Flip Up</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ResultBoxes[j].layers[k].blocks.GroupBy(p => p.ProductId).Select(x => x.First()).Where(p => p.ProductId != 0).OrderBy(p => p.ProductId))
                                {
                                    <tr class="txt-black">
                                        <td>@item.ProductId</td>
                                        <td>@item.Name</td>
                                        <td>@item.PositionFilpup</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="m-panel-footer"></div>
        </div>
        <br>
    }
</div>