@model SBA.DataModels.Orders
@{
    ViewData["Title"] = "CoverBoxReport";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}
<br>
<div>
    <div class="m-panel-report">
        <div class="modal-body-left-report">
            <form id="form-cover-box">
                <div class="row justify-content-md-center">
                    <h4 class="txt-black" style="padding-top: 40px;">เอกสารใบปะหน้ากล่อง</h4>
                </div>
                <div class="row">
                    <div class="form-group form-inline col-6">
                        <label  for="OrderNo">Order Number : </label>
                        <input class="form-control text-center txt-primary txt-bold" type="text" id="OrderNo"
                               name="OrderNo" readonly value="@Model.OrdersNumber">
                    </div>
                    <div class="form-group form-inline col-6">
                        <label for="CustomerName"> Customer : </label>
                        <p class="col-8 form-control text-wrap text-p text-left txt-primary txt-bold">@Model.CustomerName</p>
                    </div>
                </div>
            </form>
            <div class="m-panel-listproduct col-sm-offset-1">
                <table class="table text-center " style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product Name</th>
                            <th>Qty(package)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.OrdersDetails.Count(); i++)
                        {
                            <tr class="txt-black">
                                <td>@(i + 1)</td>
                                <td class="text-left">@Model.OrdersDetails[i].ProductName</td>
                                <td>@Model.OrdersDetails[i].Qty</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>