@model SBA.DataModels.CoverBoxReport
@{
    ViewData["Title"] = "CoverBoxReport";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}
<br>
<div>
    @for (var j = 0; j < Model.ResultBoxes.Count(); j++)
    {
        @if (j > 0)
        {
            <div style='page-break-before: always;'></div>
        }
        <div class="m-panel-report">
            <div class="modal-body-left-report">
                <form id="form-cover-box">
                    <div class="row justify-content-md-center">
                        <h4 class="txt-black" style="padding-top: 40px;">เอกสารใบปะหน้ากล่อง</h4>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline col-6">
                            <label for="OrderNo">Order Number : </label>
                            <input class="form-control text-center txt-primary txt-bold" type="text" id="OrderNo"
                                   name="OrderNo" readonly value="@Model.OrderNumber">
                        </div>
                        <div class="form-group form-inline col-6">
                            <label for="CustomerName"> Customer : </label>
                            <p class="col-8 form-control text-wrap text-p text-left txt-primary txt-bold">@Model.CustomerName</p>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group form-inline col-6">
                            <label class="col-4" for="BoxName">Box : </label>
                            <input class="form-control text-center txt-primary txt-bold" type="text" id="BoxName"
                                   name="BoxName" readonly value="No.@(j+1) @Model.ResultBoxes[j].BoxName">
                        </div>
                    </div>
                </form>
                <div class="m-panel-listproduct col-sm-offset-1">
                    <table class="table text-center " style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Product Name</th>
                                <th>Qty(package)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int k = 0; k < Model.ResultBoxes[j].TotalProduct.Count(); k++)
                            {
                                <tr class="txt-black">
                                    <td>@(k + 1)</td>
                                    <td class="text-left">@Model.ResultBoxes[j].TotalProduct[k].Name</td>
                                    <td>@Model.ResultBoxes[j].GetProductAmountById(Model.ResultBoxes[j].TotalProduct[k].ProductId)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>