@using SBA.DataModels
@model SBA.DataModels.Orders
@{
    ViewData["Title"] = "ProductNotArrange";
}
<div class="text-center">
    <div class="m-panel">
        <div class="m-panel-header ">
            <h class="m-panel-name">Pick Up Order</h>
            <button id="btn-clear" class="btn pull-right">Clear </button>
        </div>
        <div class="modal-body-left">
            <form id="form-order">
                <div class="form-group form-inline" hidden>
                    <label for="OrdersId">Order Id :  </label>
                    <input class="form-control text-center" type="text" id="OrdersId"
                           name="OrdersId" readonly placeholder="Order Id" value="@Model.OrdersId">
                </div>
                <div class="form-group form-inline">
                    <label for="OrdersNumber">Order Number :</label>
                    <input class="form-control text-center col-sm" type="text" id="OrdersNumber"
                           name="OrdersNumber" required placeholder="Order Number" value="@Model.OrdersNumber">                   
                </div>
                <div class="form-group form-inline">
                    <label for="CustomerName">Customer Name :  </label>
                    <input class="form-control text-center col-sm" type="text" id="CustomerName"
                           name="CustomerName" required placeholder="Customer Name" value="@Model.CustomerName">
                </div>
            </form>
        </div>
        <div class="text-center">
            <div class="m-panel">
                <div class="m-panel-header ">
                    <h class="m-panel-name">Pick Up Order Detail</h>
                    <button id="btn-neworderdetail" class="btn pull-right" data-toggle='modal' data-target='#modal-orderdetail-item'>New</button>
                </div>
                <table id="table-orderdetail" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>Product Name</td>
                            <td>Quantity(packages)</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="m-panel-footer">
        <button id="btn-printcoverbox" class="btn btn-primary" > พิมพ์ใบปะหน้ากล่อง </button>
    </div>
</div>

<!--Add Order Detail-->
<div class="modal " id="modal-orderdetail-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center">Pick Up Order Detail</h2>
                <button type="button" class="close" onclick="closeModalOrderDetail()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-left">
                <form id="form-orderdetail-item">
                    <div class="form-group  " hidden>
                        <label for="OrdersdetailId">OrderDetail Id :</label>
                        <input type="text" class="form-control text-center" id="OrdersdetailId" name="OrdersdetailId">
                    </div>
                    <div class="form-group ">
                        <label for="ProductId">Product Name:</label>
                        <select class="form-control text-center" id="ProductId" name="ProductId" required></select>
                    </div>
                    <div class="form-group">
                        <label for="Qty">Quantity (packages):</label>
                        <input class="form-control text-center " type="text" pattern="^[0-9]+" id="Qty" name="Qty" required placeholder="Product Quantity">
                    </div>
                </form>
            </div>
            <br>
            <div class="modal-footer ">
                <button class="btn btn-default" type="button" onclick="closeModalOrderDetail()">Cancel</button>
                <button id="btn-add-orderdetail" class="btn btn-primary" type="button" form="form-orderdetail-item">Add</button>
            </div>
        </div>
    </div>
</div>
<form hidden id="form-order-product" target="_blank" action='@Url.Action("CoverBoxReportNotArranged","Document")' onsubmit="SubmitFormOrderProduct()" method="POST">
</form>

@section Scripts{
    <script>
//@* set variable *@
       _tb_orderdetail = $("#table-orderdetail");
       datatable_orderdetail = null;
       _modal_orderdetail_item = $("#modal-orderdetail-item");
       _product = null;
        _orderDetail = [];

//@* main *@
        $(document).ready(function(){
                MapDataTable();
        });

//@* bind event *@
        $("#btn-clear").on('click',function(){
            ClearOrder();
        });
        $("#btn-neworderdetail").on('click',function(){
            SetUnselectOrderDetailRow();
        });
        $("#btn-add-orderdetail").on('click',function(){
            addOrderDetailToTable();
            closeModalOrderDetail();
        });
        $("#btn-printcoverbox").on('click', function () {
            PrintCoverBox();
        });
        _tb_orderdetail.on('click', 'a.btn-edit', function () {
            SetSelectOrderDetailRow($(this).parent().parent());
            _modal_orderdetail_item.modal("show");
        });
        _tb_orderdetail.on('click', 'a.btn-delete', function () {
            SetSelectOrderDetailRow($(this).parent().parent());
            datatable_orderdetail.row('.selected').remove().draw();
        });
        _modal_orderdetail_item.on("shown.bs.modal", function () {
            var data = datatable_orderdetail.row(".selected").data();
            if (data == undefined) {
                var data = {
                    "ordersdetailId": 0,
                    "productName": null,
                    "qty": 0
                };
            }
            BindingOrderDetailSelectData(data);
        });
        $('#OrdersNumber').on('keypress', function (key) {
            if (key.key == "Enter") {
                location.replace('@Url.Action("GetOrderByOrderNumber","Document")' + "?ordersnumber=" + $(this).val());
            }
        });

// @* load Data  *@
        $.ajax({
            url: '@Url.Action("GetProductNotArranged","Product")',
            type: "GET",
            dataSrc: "data"
        }).done(function (data) {
            _product = data.data;
            MapSelectProduct();
        });

//@* function *@
        function MapDataTable() {
            datatable_orderdetail = _tb_orderdetail.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetOrderDetailsList","Document")',
                    dataSrc: 'data'
                },
                columns: [{ data: "ordersdetailId" },
                { data: "productName" },
                { data: "qty" },
                {
                    targets: -2,
                    data: null,
                    "defaultContent": "<a class='btn-edit' >Edit</a>"
                },
                {
                    targets: -1,
                    data: null,
                    "defaultContent": "<a class='btn-delete' >Delete</a>"
                }]
            });
        };
        function MapSelectProduct() {
            select = $('select#ProductId');
            $.each(_product, function (k, v) {
                var $option = $("<option></option>", {
                    "text": v.name,
                    "value": v.name
                });
                select.append($option);
            });
        };
        function closeModalOrderDetail() {
            _modal_orderdetail_item.modal("hide");
        };
        function SetUnselectOrderDetailRow() {
            _tb_orderdetail.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
        };
        function SetSelectOrderDetailRow(row) {
            _tb_orderdetail.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            row.addClass('selected');
        };
        function BindingOrderDetailSelectData(data) {
            _modal_orderdetail_item.find("#OrdersdetailId")[0].value = data.ordersdetailId;
            $("select#ProductId").val(data.productName).change();
            _modal_orderdetail_item.find("#Qty")[0].value = data.qty;
        };
        function addOrderDetailToTable() {
            if ($("#OrdersdetailId").val() == 0) {
                datatable_orderdetail.rows.add([{
                    "ordersdetailId": parseInt(datatable_orderdetail.rows().count()) + 1,
                    "productName": $("#ProductId").val(),
                    "qty": $("#Qty").val()
                }]).draw();
            }
            else {
                datatable_orderdetail.row('.selected').data(
                    {
                        "ordersdetailId": $("#OrdersdetailId").val(),
                        "productName": $("#ProductId").val(),
                        "qty": $("#Qty").val()
                    }
                ).draw();
            }
        };
        function ClearOrder(){
            location.replace('@Url.Action("OrderProductNotArranged","Document")');
        };
        function PrintCoverBox() {
            var formData = document.getElementById("form-order-product");
            formData.innerHTML = "";
            var orderNo = $("#OrdersNumber").val()
            if(orderNo==undefined||orderNo==""||orderNo==null)
            {
                alert("please add order number !");
                return;
            }
            $(formData).append(
                $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', "OrdersNumber")
                    .val(orderNo)
            );
             var customerName = $("#CustomerName").val()
            if(customerName==undefined||customerName==""||customerName==null)
            {
                alert("please add customer name !");
                return;
            }
            $(formData).append(
                $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', "CustomerName")
                    .val(customerName)
            );
            var params = datatable_orderdetail.rows().data();
            if(params.count()<=0){
                alert("please add pick up order detail !"); 
                return;
                }
            $.each(params, function (k, d) {
                $.each(d, function (name, value) {
                    if (!$.contains(document, formData[name])) {
                        $(formData).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', "OrdersDetails[" + k + "]." + name)
                                .val(value)
                        );
                    }
                })
            });
            formData.submit();
        };
    </script>
}