@model SBA.DataModels.ShippingAddressReport
@{
    ViewData["Title"] = "ShippingAddress";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}
<br>
<br>
<div class="row justify-content-md-center">
    <div class="col-6">
        <div><h2>ผู้ส่ง</h2></div>
        <div class="text-shift"><h4>@Model.CompanyName</h4></div>
        <div class="text-shift" style="width:80%;"><h4>@Model.CompanyAddress</h4></div>
        <div class="text-shift"><h4>@Model.CompanyZipcode</h4></div>
    </div>
    <div class="col-6"><div class="text-shift"></div></div>
    <div class="w-100"></div>
    <div class="col-6"><div class="text-shift"></div></div>
    <div class="col-6">
        <div><h2>ผู้รับ</h2></div>
        <div class="text-shift"><h4>@Model.CustomerName</h4></div>
        <div class="text-shift"><h4>@Model.CustomerAddress</h4></div>
        <div class="text-shift"><h4>@Model.CustomerZipcode</h4></div>
    </div>
</div>