﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SBA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/sbaSite.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.css">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="text-center">  &copy; 2020 - SBA -  @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sbaSite.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>