﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string loggedInUser = HttpContextAccessor.HttpContext.Session.GetString("LOGIN_USER");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SBA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/sbaSite.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <img clas="img-logo" src="\Images\SBALogo.png" text="SBA" alt="">

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" hidden>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Master Data
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logisticinfo">Logistic Info</a>
                                <a class="dropdown-item" href="/category">Product Category</a>
                                <a class="dropdown-item" href="/product">Product</a>
                                <a class="dropdown-item" href="/user">User</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Box Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/order/addorder">Pick Up Order</a>
                                <a class="dropdown-item" href="/order">Box Arrangement</a>
                                <a class="dropdown-item" href="/batch">History (Batch)</a>
                                <a class="dropdown-item" href="/Document/OrderProductNotArranged"
                                   data-toggle="tooltip" title="for not arranged product">CoverBox Document</a>
                            </div>
                        </li>
                    </ul>
                </div>
                @if (!string.IsNullOrEmpty(loggedInUser))
                {
                    <span>Login: @loggedInUser</span>
                    <a href='@Url.Action("Logout","Login")' onclick="return confirm('ออกจากระบบ?')" class="btn btn-primary nav-btn">Logout</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="text-center">  &copy; 2020 - SBA -  @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sbaSite.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>