@{
    ViewData["Title"] = "LogisticInfo";
}

<div class="text-center">
    @if (TempData["ActionResult"] != null)
    {
        if ((bool)TempData["ActionResult"])
        {
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>

        }
        else
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>
        }
    }

    <div class="m-panel">
        <div class="m-panel-header ">
            <h class="m-panel-name">Logistic Info</h>
            <button id="btn-newlogisticinfo" class="btn pull-right"
                    data-toggle='modal' data-target='#modal-logisticinfo-item'>
                New
            </button>
        </div>
        <div>
            <table id="table-logisticinfo" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Logistic Id</th>
                        <th>Logistic Name</th>
                        <th>Telephone</th>
                        <th>Box</th>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </div>

        <!--Modal add/edit logisticinfo -->
        <div class="modal " id="modal-logisticinfo-item" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center">Logistic Info</h2>
                        <button type="button" class="close" onclick="closeModalLigisticinfoItem()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body-left">
                        <form id="form-logisticinfo-item" action='@Url.Action("UpsertLogisticinfo","Logisticinfo")' method="POST">
                            <div class="form-group " hidden>
                                <label for="LogisticId">id :</label>
                                <input class="form-control text-center" type="text" id="LogisticId" name="LogisticId" readonly placeholder="new">
                            </div>
                            <div class="form-group">
                                <label for="Name">Logistic Name :</label>
                                <input class="form-control text-center" type="text" id="Name" name="Name" required placeholder="Enter Logistic Name">
                            </div>
                            <div class="form-group">
                                <label for="Telephone">Telephone :</label>
                                <input class="form-control text-center" type="text"
                                       id="Telephone" name="Telephone"
                                       pattern="[0-9\-]{4,12}"
                                       placeholder="Enter Telephone">
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button class="btn btn-default" typ="button" onclick="closeModalLigisticinfoItem()">Cancel</button>
                        <button class="btn btn-primary" type="submit" form="form-logisticinfo-item">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal logisticbox-->
        <div class="modal " id="modal-logisticbox" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center">Logistic Box</h2>
                        <button type="button" class="close" onclick="closeModalLogisticBox()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <div class="m-panel-header ">
                                <h id="txt-logisticname" class="m-panel-name"></h>
                                <label id="txt-logistic-totalrow" class="text-light "></label>
                                <button id="btn-newbox" class="btn pull-right" data-toggle='modal' data-target='#modal-logisticbox-item'>New</button>
                            </div>
                            <table id="table-logisticbox" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Box</th>
                                        <th>Price (baht)</th>
                                        <th>Max Weight (kg)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" typ="button" onclick="closeModalLogisticBox()">Cancel</button>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal add/edit logisticbox -->
                <div class="modal " id="modal-logisticbox-item" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title text-center">Logistic Box</h2>
                                <button type="button" class="close" onclick="closeModalLogisticBoxItem()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body-left">
                                <form id="form-logisticbox-item" action='@Url.Action("UpsertLogisticBox","Logisticinfo")' method="POST">
                                    <div class="form-group  " hidden>
                                        <label for="LogisticId">Logistic Id :</label>
                                        <input type="text" class="form-control text-center" id="LogisticId" name="LogisticId">
                                    </div>
                                    <div class="form-group  " hidden>
                                        <label for="LogisticboxId">LogisticBox Id :</label>
                                        <input type="text" class="form-control text-center" id="LogisticboxId" name="LogisticboxId">
                                    </div>
                                    <div class="form-group ">
                                        <label for="Box">Box :</label>
                                        <select class="form-control text-center" id="BoxId" name="BoxId" required></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Price">Price (baht):</label>
                                        <input class="form-control text-center " type="text" pattern="^[0-9]+" id="Price" name="Price" required placeholder="Enter Price (baht)">
                                    </div>
                                    <div class="form-group">
                                        <label for="Weight">Max Weight (kg):</label>
                                        <input class="form-control text-center" type="text" pattern="^[0-9]+(\.[0-9]{1,2})?" id="Weight" name="Weight" required placeholder="Enter Max Weight (kg) ">
                                    </div>
                                </form>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button class="btn btn-default" typ="button" onclick="closeModalLogisticBoxItem()">Cancel</button>
                                <button class="btn btn-primary" type="submit" form="form-logisticbox-item">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
//@* set variable *@
        _tb_logisticinfo = $('#table-logisticinfo');
        datatable_logisticinfo = null;
        _modal_logisticinfo = $('#modal-logisticinfo-item');
        _tb_logisticbox = $('#table-logisticbox');
        datatable_logisticbox = null;
        _boxes = [];
        _modal_logisticbox_item = $('#modal-logisticbox-item');
        _modal_logisticbox = $('#modal-logisticbox');

//@* main *@
        $(document).ready(function () {
            loadLogisticInfoData();
        });

//@* bind event *@
        $("#btn-newlogisticinfo").on('click', function () {
            SetUnSelectLogisticinfoRow();
        });
        $("#btn-newbox").on('click', function () {
            SetUnSelectLogisticBoxRow();
        });
        _tb_logisticinfo.on('click', 'a.btn-newbox', function () {
            SetSelectLogisticinfoRow($(this).parent().parent());
            BindingLogisticInfoSelectData({});
        });
        _tb_logisticinfo.on('click', 'a.btn-edit', function () {
            SetSelectLogisticinfoRow($(this).parent().parent());
            _modal_logisticinfo.modal("show");
        });
        _tb_logisticbox.on('click', 'tr', function () {
            _tb_logisticbox.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
        });
        _tb_logisticbox.on('click', 'a.btn-edit', function () {
            SetSelectLogisticBoxRow($(this).parent().parent());
            _modal_logisticbox_item.modal("show");
        });
        _modal_logisticinfo.on('shown.bs.modal', function () {
            var data = datatable_logisticinfo.row(".selected").data();
            if (data == undefined) {
                data = {
                    logisticId: 0,
                    name: null,
                    telephone: null
                };
            }
            BindingLogisticInfoSelectData(data);
        });
        _modal_logisticbox_item.on("shown.bs.modal", function () {
            var data = datatable_logisticbox.row(".selected").data();
            if (data == undefined)
                data = {
                    logisticId: datatable_logisticinfo.row(".selected").data().logisticId,
                    logisticboxId: null,
                    price: null,
                    weight: null
                };
            BindingLogisticBoxSelectData(data);
        });
        _modal_logisticbox.on("shown.bs.modal", function () {
            var param = { id: datatable_logisticinfo.row(".selected").data().logisticId };
            datatable_logisticbox = _tb_logisticbox.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetLogisticboxById","Logisticinfo")',
                    data: param,
                    type: "GET",
                    dataSrc: function (data) {
                        $('#txt-logistic-totalrow').text("Total " + data.data.length + " rows");
                        $('#txt-logisticname').text(datatable_logisticinfo.row('.selected').data().name);
                        return data.data;
                    }
                },
                columns: [
                    { data: "boxName" },
                    { data: "price" },
                    { data: "weight" },
                    {
                        targets: -1,
                        data: null,
                        "defaultContent": "<a class='btn-edit'  >Edit</a>"
                    }
                ]
            });
        });

// @* load Data  *@
        $.ajax({
            url: '@Url.Action("GetAllBox","Logisticinfo")',
            type: "GET",
            dataSrc: 'data'
        }).done(function (data) {
            _boxes = data.data;
            MapSelectBox();
        });

//@* function *@
        function BindingLogisticInfoSelectData(data) {
            _modal_logisticinfo.find('input#LogisticId')[0].value = data.logisticId;
            _modal_logisticinfo.find('input#Name')[0].value = data.name;
            _modal_logisticinfo.find('input#Telephone')[0].value = data.telephone;
        };
        function BindingLogisticBoxSelectData(data) {
            _modal_logisticbox_item.find("#LogisticId")[0].value = data.logisticId;
            _modal_logisticbox_item.find("#LogisticboxId")[0].value = data.logisticboxId;
            _modal_logisticbox_item.find("#Price")[0].value = data.price;
            _modal_logisticbox_item.find("#Weight")[0].value = data.weight;
            $('select#BoxId').val(data.boxId).change();
        };
        function closeModalLigisticinfoItem() {
            _modal_logisticinfo.modal("hide");
        };
        function closeModalLogisticBox() {
            _modal_logisticbox.modal("hide");
        };
        function closeModalLogisticBoxItem() {
            _modal_logisticbox_item.modal("hide");
        };
        function MapSelectBox() {
            select = $('select#BoxId');
            $.each(_boxes, function (k, v) {
                var $option = $("<option></option>", {
                    "text": v.name,
                    "value": v.boxId
                });
                select.append($option);
            });
        };
        function loadLogisticInfoData() {
            datatable_logisticinfo = _tb_logisticinfo.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetAllLogisticsInfo","Logisticinfo")',
                    dataSrc: 'data'
                },
                columns: [{ data: "logisticId" },
                { data: "name" },
                { data: "telephone" },
                { data: "boxAmount" },
                {
                    targets: -2,
                    data: null,
                    "defaultContent": "<a class='btn-edit' >Edit</a>"
                },
                {
                    targets: -1,
                    data: null,
                    "defaultContent": "<a class='btn-newbox' data-toggle='modal' data-target='#modal-logisticbox'>Add Box</a>"
                }]
            });
        };
        function SetUnSelectLogisticinfoRow() {
            _tb_logisticinfo.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
        };
        function SetSelectLogisticinfoRow(row) {
            _tb_logisticinfo.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            row.addClass('selected');
        };
        function SetUnSelectLogisticBoxRow() {
            _tb_logisticbox.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
        };
        function SetSelectLogisticBoxRow(row) {
            _tb_logisticbox.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            row.addClass('selected');
        }
    </script>
}