@using SBA.DataModels
@model IEnumerable<SBA.DataModels.Category>
@{
    ViewData["Title"] = "Category";
}

<div class="text-center">
    @if (TempData["ActionResult"] != null)
    {
        if ((bool)TempData["ActionResult"])
        {
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>

        }
        else
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>
        }
    }
    <div class="m-panel">
        <div class="m-panel-header ">
            <h class="m-panel-name">Category</h>
            <button id="btn-newcategory" class="btn pull-right" data-toggle='modal' data-target='#modal-category-item'>New</button>
        </div>
        <table id="table-category" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <td>CategoryId</td>
                    <td>Categoryname</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.Categoryname</td>
                        <td>
                            <a class="btn-edit">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal logisticbox-->
<div class="modal " id="modal-category-item" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center">Category </h2>
                <button type="button" class="close" onclick="closeModalCategory()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-left">
                <form id="form-category-item" action='@Url.Action("UpsertCategory","Category")' method="POST">
                    <div class="form-group  " hidden>
                        <label for="CategoryId">Category Id :</label>
                        <input type="text" class="form-control text-center" id="CategoryId" name="CategoryId">
                    </div>
                    <div class="form-group">
                        <label for="Categoryname">Name :</label>
                        <input class="form-control text-center " type="text" id="Categoryname" name="Categoryname" required placeholder="Enter Name">
                    </div>
                </form>
            </div>
            <br>
            <div class="modal-footer">
                <button class="btn btn-default" typ="button" onclick="closeModalCategory()">Cancel</button>
                <button class="btn btn-primary" type="submit" form="form-category-item">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
//@* set variable *@
        _tb_category = $("#table-category");
        datatable_category = null;
        _modal_category_item = $("#modal-category-item");

//@* main *@
        $(document).ready(function () {
            datatable_category = _tb_category.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
            });
        });

//@* bind event *@
        $("#btn-newcategory").on('click', function () {
            SetUnSelectCategoryRow();
        });
        _tb_category.on('click', 'a.btn-edit', function () {
            SetSelectCategoryRow($(this).parent().parent());
            _modal_category_item.modal("show");
        });
        _modal_category_item.on("shown.bs.modal", function () {
            var data = datatable_category.row(".selected").data();
            if (data == undefined) {
                data = [0, null];
            }
            BindingCategorySelectData(data);
        });

//@* function *@
        function closeModalCategory() {
            _modal_category_item.modal("hide");
        };
        function SetUnSelectCategoryRow() {
            _tb_category.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
        };
        function SetSelectCategoryRow(row) {
            _tb_category.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            row.addClass('selected');
        };
        function BindingCategorySelectData(data) {
            _modal_category_item.find("#CategoryId")[0].value = data[0];
            _modal_category_item.find("#Categoryname")[0].value = data[1];
        };
    </script>
}