@using SBA.DataModels
@model IEnumerable<SBA.DataModels.Batch>

@{
    ViewData["Title"] = "Batch";
}

@if (TempData["ActionResult"] != null)
{
    if ((bool)TempData["ActionResult"])
    {
        <div class="alert-success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @TempData["ActionResultMessage"]
        </div>

    }
    else
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @TempData["ActionResultMessage"]
        </div>
    }
}

<div class="m-panel">
    <div class="m-panel-header ">
        <h class="m-panel-name">Batch</h>
        <label id="txt-totalorder" class="text-right"></label>
    </div>
    <div>
        <table id="table-order" class="table table-striped table-bordered text-center" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Date Time</th>
                    <th class="text-center">Logistic Name</th>
                    <th class="text-center">Sequence</th>
                    <th class="text-center">Total Order</th>
                    <th></th>
                </tr>
            </thead>
            @* Show Data *@
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Datetime</td>
                        <td>@item.LogisticName</td>
                        <td>@item.Sequence</td>
                        <td>@item.TotalOrder</td>
                        <td>@Html.ActionLink("View", "ViewArrangeBox", new { BatchId = item.BatchId })</td>
                    </tr>
                    {
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<br>