@using SBA.DataModels
@model IEnumerable<SBA.DataModels.Product>
@{
    ViewData["Title"] = "Product";
}

<div class="text-center">
    @if (TempData["ActionResult"] != null)
    {
        if ((bool)TempData["ActionResult"])
        {
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>

        }
        else
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>
        }
    }
    <div class="m-panel">
        <div class="m-panel-header ">
            <h class="m-panel-name">Product</h>
            <button id="btn-newproduct" class="btn pull-right" data-toggle='modal' data-target='#modal-product-item'>New</button>
        </div>
        <table id="table-product" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <td>ProductId</td>
                    <td>Name</td>
                    <td>Length(cm)</td>
                    <td>Width(cm)</td>
                    <td>Height(cm)</td>
                    <td>Weight(g)</td>
                    <td>TV</td>
                    <td>SV</td>
                    <td>FV</td>
                    <td>IsArranged</td>
                    <td hidden>CategoryId</td>
                    <td>Category</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Name</td>
                        <td>@item.Length</td>
                        <td>@item.Width</td>
                        <td>@item.Height</td>
                        <td>@item.Weight</td>
                        <td>@item.TopView</td>
                        <td>@item.SideView</td>
                        <td>@item.FrontView</td>
                        <td>@item.IsArranged</td>
                        <td hidden>@item.CategoryId</td>
                        <td>@item.Categoryname</td>
                        <td>
                            <a class="btn-edit">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal logisticbox-->
<div class="modal " id="modal-product-item" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center">Product</h2>
                <div class="btn-header">
                    <button class="btn btn-default" typ="button" onclick="closeModalProduct()">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="form-product-item">Save</button>
                </div>
                <button type="button" class="close" onclick="closeModalProduct()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-left">
                <form id="form-product-item" action='@Url.Action("UpsertProduct","Product")' method="POST">
                    <div class="form-group  " hidden>
                        <label for="ProductId">Product Id :</label>
                        <input type="text" class="form-control text-center" id="ProductId" name="ProductId">
                    </div>
                    <div class="form-group">
                        <label for="Name">Name :</label>
                        <input class="form-control text-center " type="text" id="Name" name="Name" required placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="Length">Length (cm) :</label>
                        <input class="form-control text-center " type="text" pattern="^[0-9]+(\.[0-9]{1,2})?" id="Length" name="Length" required placeholder="Enter Length (cm)">
                    </div>

                    <div class="form-group">
                        <label for="Width">Width (cm) :</label>
                        <input class="form-control text-center " type="text" pattern="^[0-9]+(\.[0-9]{1,2})?" id="Width" name="Width" required placeholder="Enter Width (cm)">
                    </div>

                    <div class="form-group">
                        <label for="Height">Height (cm) :</label>
                        <input class="form-control text-center " type="text" pattern="^[0-9]+(\.[0-9]{1,2})?" id="Height" name="Height" required placeholder="Enter Height (cm)">
                    </div>

                    <div class="form-group">
                        <label for="Height">Weight (g) :</label>
                        <input class="form-control text-center " type="text" pattern="^[0-9]+(\.[0-9]{1,2})?" id="Weight" name="Weight" required placeholder="Enter Weight (g)">
                    </div>

                    <div class="form-group col-sm-3">
                        <input class="form-check-input" type="checkbox" value="True" id="TopView" name="TopView">
                        <label for="TopView" class="form-check-label">TopView</label>
                    </div>

                    <div class="form-group col-sm-3">
                        <input class="form-check-input" type="checkbox" value="True" id="SideView" name="SideView">
                        <label for="SideView" class="form-check-label">SideView</label>
                    </div>

                    <div class="form-group col-sm-3">
                        <input class="form-check-input" type="checkbox" value="True" id="FrontView" name="FrontView">
                        <label for="FrontView" class="form-check-label">FrontView</label>
                    </div>
                    <div class="form-group col-sm-3">
                        <input class="form-check-input" type="checkbox" value="True" id="IsArranged" name="IsArranged">
                        <label for="IsArranged" class="form-check-label">IsArranged</label>
                    </div>

                    <div class="form-group">
                        <label for="CategoryId">Category :</label>
                        <select class="form-control text-center " id="CategoryId" name="CategoryId" required>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
//@* set variable *@ 
        _tb_product = $("#table-product");
        datatable_product = null;
        _modal_product_item = $("#modal-product-item");
        _category = null;

//@* main *@
        $(document).ready(function () {
            datatable_product = _tb_product.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
            });
        });

//@* bind event *@
        $("#btn-newproduct").on('click', function () {
            SetUnSelectProductRow();
        });
        _tb_product.on('click', 'a.btn-edit', function () {
            SetSelectProductRow($(this).parent().parent())
            _modal_product_item.modal("show");
        });
        _modal_product_item.on("shown.bs.modal", function () {
            var data = datatable_product.row(".selected").data();
            if (data == undefined) {
                var data = [0, null, null, null, null, null, false, false, false, false, null];
            }
            BindingProductSelectData(data);
        });

//@* get data *@
        $.ajax({
            url: '@Url.Action("GetAllCategory","Category")',
            type: "GET",
            dataSrc: "data"
        }).done(function (data) {
            _category = data.data;
            MapSelectCategory();
        });

//@* function *@
        function closeModalProduct() {
            _modal_product_item.modal("hide");
        };
        function MapSelectCategory() {
            select = $('select#CategoryId');
            $.each(_category, function (k, v) {
                var $option = $("<option></option>", {
                    "text": v.categoryname,
                    "value": v.categoryId
                });
                select.append($option);
            });
        };
        function SetUnSelectProductRow() {
            _tb_product.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
        };
        function SetSelectProductRow(row) {
            _tb_product.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            row.addClass('selected');
        };
        function BindingProductSelectData(data) {
            _modal_product_item.find("#ProductId")[0].value = data[0];
            _modal_product_item.find("#Name")[0].value = data[1];
            _modal_product_item.find("#Length")[0].value = data[2];
            _modal_product_item.find("#Width")[0].value = data[3];
            _modal_product_item.find("#Height")[0].value = data[4];
            _modal_product_item.find("#Weight")[0].value = data[5];
            _modal_product_item.find("#TopView")[0].checked = GetBoolVal(data[6]);
            _modal_product_item.find("#SideView")[0].checked = GetBoolVal(data[7]);
            _modal_product_item.find("#FrontView")[0].checked = GetBoolVal(data[8]);
            _modal_product_item.find("#IsArranged")[0].checked = GetBoolVal(data[9]);
            $("select#CategoryId").val(data[10]).change();
        };
        function GetBoolVal(val) {
            if (val == "True" || val == "true") {
                return true;
            }

            else {
                return false;
            }
        };
    </script>
}