@using SBA.DataModels
@model IEnumerable<SBA.DataModels.Orders>
@{
    ViewData["Title"] = "Order";
}

<div class="text-center">
    @if (TempData["ActionResult"] != null)
    {
        if ((bool)TempData["ActionResult"])
        {
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>

        }
        else
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>
        }
    }
    <div class="m-panel">
        <div class="m-panel-header ">
            <h class="m-panel-name">Pick Up Order</h>
            <label id="txt-totalorder" class="text-right"></label>
        </div>
        <div>
            <table id="table-order" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th><input id="checkbox-selectorder-all" type="checkbox" value="True" class='all-check' style="display:show"></th>
                        <th hidden>OrdersId</td>
                        <th class="text-center">Order Number</th>
                        <th class="text-center">Customer Name</th>
                        <th class="text-center">Total Product</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> <input class='check' type='checkbox' value='' id='defaultCheck1'></td>
                            <td hidden>@item.OrdersId</td>
                            <td>@item.OrdersNumber</td>
                            <td>@item.CustomerName</td>
                            <td>@item.TotalProductQty</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="">
            <button class="btn btn-primary" id="btn-arrangebox" disabled>Arrange Box</button>
        </div>
    </div>
</div>
<br>

@section Scripts{
    <script>
//@* set variable *@
        _tb_order = $("#table-order");
        datatable_order = null;
        iszeroProduct = false;

//@* main *@
        $(document).ready(function () {
            datatable_order = _tb_order.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
            });
            $("#txt-totalorder").text("Total " + datatable_order.rows().count() + " Orders ");
        });

//@* bind event *@
        $("#btn-arrangebox").on('click', function () {
            var param = getOrderData();
            if (iszeroProduct) {
                alert("มี order ที่ไม่มีสินค้า กรุณาเลือกรายการอีกครั้ง?");
                    return;
            }
            paramstring = getParameterOrderIdsString(param);
            window.location.href = '@Url.Action("ArrangeBox","ArrangementResult")' + "?" + paramstring;
        });
        $("#checkbox-selectorder-all").on('click', function () {
            $(".check").prop('checked', $(this).prop('checked'));
            if ($(this).prop('checked')) {
                $(".check").each(function () {
                    setSelectOrderRow($(this).parent().parent());
                });
            }
            else {
                $(".check").each(function () {
                    setUnSelectOrderRow($(this).parent().parent());
                });
            }
        });
        $(".check").on('click', function () {
            if ($(this).prop('checked')) {
                setSelectOrderRow($(this).parent().parent());
            }
            else {
                setUnSelectOrderRow($(this).parent().parent());
            }
            if($(".check:checked").length>0){
                $("#btn-arrangebox").prop("disabled",false);
            }
            else{
                 $("#btn-arrangebox").prop("disabled",true);
            }
        });

//@* function *@
        function setSelectOrderRow(row) {
            row.addClass('selected');
        };
        function setUnSelectOrderRow(row) {
            row.removeClass('selected');
        };
        function getOrderData() {
            var data = datatable_order.rows(".selected").data();
            var result = [];
            iszeroProduct = false;
            $.each(data, function (k, d) {
                if (parseInt(d[4]) == 0) {
                    iszeroProduct = true;
                }
                result.push(d[1]);
            });
            return result;
        };
        function getParameterOrderIdsString(param) {
            var str = "";
            $.each(param, function (i, k) { str = str + "orderIds=" + k + "&" });
            return str;
        };
    </script>
}