@using SBA.DataModels
@model IEnumerable<SBA.DataModels.User>
@{
    ViewData["Title"] = "User";
}

<div class="text-center">

    @if (TempData["ActionResult"] != null)
    {
        if ((bool)TempData["ActionResult"])
        {
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>

        }
        else
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["ActionResultMessage"]
            </div>
        }
    }
    <div class="m-panel">
        <div class="m-panel-header ">
            <h class="m-panel-name">User</h>
            <button id="btn-newuser" class="btn pull-right" data-toggle='modal' data-target='#modal-user-item'>New</button>
        </div>
        <table id="table-user" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Username</td>
                    <td>Password</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.Username</td>
                        <td>@item.Password</td>
                        <td>
                            <a class="btn-edit">Edit</a>
                        </td>
                    </tr>

                }
        </table>
    </div>
</div>

<!-- Modal logisticbox-->
<div class="modal " id="modal-user-item" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center">User </h2>
                <button type="button" class="close" onclick="closeModalUser()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-left">
                <form id="form-user-item" action='@Url.Action("Save","User")' method="POST">
                    <input type="hidden" class="form-control text-center" id="UserId" name="UserId">
                    <div class="form-group">
                        <label for="Username">Username :</label>
                        <input class="form-control text-center " type="text" id="Username" name="Username" required placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password :</label>
                        <input class="form-control text-center " type="password" id="Password" name="Password" required placeholder="Enter Password">
                    </div>
                </form>
            </div>
            <br>
            <div class="modal-footer">
                <button class="btn btn-default" typ="button" onclick="closeModalUser()">Cancel</button>
                <button class="btn btn-primary" type="submit" form="form-user-item">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        _tb_user = $("#table-user");
        datatable_user = null;
        _modal_user_item = $("#modal-user-item");

        $(document).ready(function () {
            datatable_user = _tb_user.DataTable({
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "info": false,
                destroy: true,
            });
        });

//@* bind event *@
        $("#btn-newuser").on('click', function () {
            SetUnSelectUserRow();
        });
        _tb_user.on('click', 'a.btn-edit', function () {
            SetSelectUserRow($(this).parent().parent());
            _modal_user_item.modal("show");
        });

        _modal_user_item.on("shown.bs.modal", function () {
            var data = datatable_user.row(".selected").data();
            if (data == undefined) {
                data = [0, null];
            }
            BindingUserSelectData(data);
        });

//@* function *@
        function closeModalUser() {
            _modal_user_item.modal("hide");
        };
        function SetUnSelectUserRow() {
            _tb_user.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            _modal_user_item.find("#UserId")[0].value = '';
            _modal_user_item.find("#Username")[0].value = '';
            _modal_user_item.find("#Password")[0].value = '';
        };
        function SetSelectUserRow(row) {
            _tb_user.find("tr.selected").each(function () {
                $(this).removeClass('selected');
            });
            row.addClass('selected');
        };
        function BindingUserSelectData(data) {
            if (data[0] != undefined && data[0] != null) {
                _modal_user_item.find("#UserId")[0].value = data[0];
            }
            else {
                _modal_user_item.find("#UserId")[0].value = '';
            }

            if (data[1] != undefined && data[1] != null) {
                _modal_user_item.find("#Username")[0].value = data[1];
            }
            else {
                _modal_user_item.find("#Username")[0].value = '';
            }

            if (data[2] != undefined && data[2] != null) {
                _modal_user_item.find("#Password")[0].value = data[2];
            }
            else {
                _modal_user_item.find("#Password")[0].value = '';
            }
        };
    </script>
}