@model src.ViewModels.UserLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Authen.cshtml";
    string error = ViewData["Error"]?.ToString();
}

<link rel="stylesheet" href="css/index.css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<div class="m-panel-result col-sm-offset-1 position-relative" style="padding-top: 10px !important;">
    <div class="login-box-body mx-auto" style="width: 430px">
        <h2 class="modal-title text-center text-primary mt-5 text-uppercase mb-4">Login</h2>

        <form action='@Url.Action("Index","Login")' method="POST">
            <label for="LogisticId" class="text-primary">Username</label>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(model => model.Username, new { @placeholder = @Html.DisplayNameFor(u => u.Username), @class = "form-control input-lg upper-case px-0 border-bottom border-primary rounded-0" })
            </div>
            <label for="LogisticId" class="text-primary">Password</label>
            <div class="form-group has-feedback">
                @Html.PasswordFor(model => model.Password, new { @placeholder = @Html.DisplayNameFor(u => u.Password), @class = "form-control input-lg upper-case px-0 border-bottom border-primary rounded-0" })
            </div>

            <button type="submit" class="position-absolute btn-lg btn-primary text-center fixed-bottom m-0 rounded-0 w-100">Log In</button>

            <div class="text-danger">
                @error
            </div>
        </form>
    </div>
</div>