:root {
    --bgsmoke          : #E3E3E3;
    --bgwhite          : #FFFFFF;
    --bgDark           : #004141;
    --bgLighterDark    : #007272;
    --primary-textcolor: #004141;
    --light-textcolor  : #AAAAAA;
    --white-textcolor  : #FFFFFF;
    --active-textcolor : #CA6213;
    --subColor         : #C6C6C6;
    --default          : #007272;
}

/* Sticky footer styles
   -------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size  : 1rem;
    line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
html {
    position  : relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position   : absolute;
    bottom     : 0;
    width      : 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    height    : 40px;
}

nav.bg-light {
    background-color: var(--bgwhite) !important;
}

.img-logo {
    width : 30px;
    height: 30px;
}

body {
    background-color: var(--bgsmoke);
    font-size       : 16px;
    font-style      : normal;
}

.bg-white {
    background-color: var(--bgwhite) !important;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--light-textcolor);
}

.btn {
    border-radius: 5px;
    min-width    : 100px;
    margin       : 5px;
    font-size    : 14px;
    height       : 30px;
    padding      : 0px;
    right        : 20px;
}

.btn-primary {
    color           : #fff;
    background-color: var(--bgDark);
    border-color    : var(--bgDark);
}

.btn-default {
    color       : var(--bgDark);
    border-color: var(--bgd);
}

.btn-lightdark {
    color           : #fff;
    background-color: var(--bgLighterDark);
    border-color    : var(--bgLighterDark);
}

.nav-btn {
    font-size: 14px;
    height   : 30px;
    padding  : 5px;
    right    : 20px;
}

.nav-item {
    color        : var(--primary-textcolor);
    padding-left : .5rem;
    padding-right: .5rem;
    font-weight  : 600;
    line-height  : 40px;
}

.nav-link.active {
    color: var(--active-textcolor) !important;
}

a.dropdown-toggle {
    color        : var(--primary-textcolor);
    padding-left : .5rem;
    padding-right: .5rem;
    font-weight  : 600;
    line-height  : 40px;
}

a.dropdown-toggle:hover {
    color: var(--active-textcolor) !important;
}

.dropdown-menu {
    margin-top: -10px;
    font-size : 14px;
    border    : 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* text
   ...................................................*/
.text-primary {
    color: var(--primary-textcolor);
}

.text-light {
    color: var(--light-textcolor);
}

.txt-primary {
    color: var(--primary-textcolor);
}

.txt-light {
    color: var(--light-textcolor);
}

.txt-hilight {
    color: var(--active-textcolor)
}

.txt-bold {
    font-weight: 600;
}

.txt-black {
    color: black !important;
}

.txt-white {
    color: white !important;
}

.text-shift {
    padding-left: 50px;
    width       : 90%;
    white-space : initial;
    text-align  : left;
    word-wrap   : break-word;
}

.text-wrap {
    word-wrap: break-word;
}

.text-report {
    font-size: 18px !important;
}

.text-p {
    padding-top: 15px;
}

/* login
   ...................................................*/
.login {
    margin-top      : 10%;
    margin-left     : 30%;
    margin-right    : 30%;
    width           : 400px;
    height          : 300px;
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--bgwhite);
}

.login>.login-header {
    height        : 100px;
    padding-top   : 50px;
    text-align    : center;
    font-weight   : 500;
    font-size     : 28px;
    line-height   : 34px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color         : var(--primary-textcolor);
}

.login>.login-container {
    height: 160px;
}

.login>.login-footer {
    height: 40px;
}

.login-footer>.btn {
    padding-bottom  : 0px;
    width           : 100%;
    height          : 40px;
    text-align      : center;
    color           : var(--white-textcolor);
    background-color: var(--bgLighterDark);
    border-radius   : 0px;
}

/* control
   -----------------------------*/
preview-control {
    margin-top   : 40px;
    margin-bottom: 40px;
    display      : block;
}

/* table
   -----------------------------*/
.m-panel {
    background-color: var(--bgwhite);
    min-width       : 700px;
    /* min-height   : 500px; */
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size       : 14px;
    font-weight     : normal;
    color           : var(--light-textcolor);
}

.m-panel-header {
    background-color: var(--bgDark);
    text-align      : left;
    height          : 40px;
    width           : 100%;
    margin          : 0px;
}

.m-panel-header>.m-panel-name {
    float      : left;
    font-weight: 600;
    color      : var(--white-textcolor);
    margin-left: 20px;
    padding    : 10px;
}

.m-panel-header>label {
    padding    : 5px;
    padding-top: 8px;
    margin-left: 20px;
}

.m-panel-header>.text-right {
    float: right !important;
}

.m-panel-header>.btn {
    color       : var(--white-textcolor);
    border-color: white;
    font-size   : 14px;
    height      : 30px;
    padding     : 0px;
    margin-right: 20px;
    float       : right;
}

.m-panel-footer {
    height          : 50px;
    margin-block-end: 0px;
}

.m-panel-report {
    background-color: var(--bgwhite);
    min-width       : 700px;
    /* min-height   : 500px; */
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size       : 18px;
    font-weight     : normal;
    color           : var(--light-textcolor);
}

.m-panel-report>label {
    font-size: initial;
}

.m-panel-report>input {
    font-size: initial;
}

table>thead {
    color: var(--primary-textcolor);
}

table>tbody {
    color: var(--light-textcolor);
}

tbody>tr.selected {
    background-color: var(--bg-smoke);
    /* color        :var(--active-textcolor) ; */
}

tbody>tr.edit,
tr.edit>td>a,
tr.edit>td>input {
    color: var(--active-textcolor);
}

tbody>tr.delete {
    text-decoration: line-through !important;
}

td>a {
    color          : var(--primary-textcolor) !important;
    text-decoration: underline !important;
}

/* result panel
   ----------------------------------*/
.bg-lighterdark {
    background-color: var(--bgsmoke);
}

.m-panel-result {
    background-color: var(--bgwhite);
    width           : 600px;
    min-height      : 500px;
    margin-top      : 40px;
    margin-left     : 20%;
    margin-right    : 20%;
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size       : 13px;
    font-weight     : normal;
    color           : var(--light-textcolor);
}

.m-panel-result>.m-panel-header {
    background-color: var(--bgLighterDark);
    text-align      : left;
    height          : 35px;
    padding         : 10px;
    width           : 60%;
    margin          : -5px;
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.m-panel-result>.m-panel-header>label {
    padding: 0px;
}

.m-panel-result>img {
    width : 600px;
    height: 100%;
}

.m-panel-listproduct {
    background-color: var(--bgwhite);
    width           : 800px;
    margin-top      : 40px;
    margin-left     : 5%;
    margin-right    : 5%;
    /* box-shadow   : 0px 2px 4px rgba(0, 0, 0, 0.25); */
    font-size       : 20px;
    font-weight     : normal;
    border-style    : solid;
    border-color    : lightgray;
    border-width    : 1px;
}

.modal-body-left-report {
    padding   : 20px;
    text-align: left;
}

.m-panel-result-report {
    background-color: var(--bgwhite);
    width           : 800px;
    min-height      : 500px;
    margin-top      : 40px;
    margin-left     : 10%;
    margin-right    : 20%;
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size       : 18px;
    font-weight     : normal;
    color           : var(--light-textcolor);
}

.m-panel-result-report>.m-panel-header {
    background-color: var(--bgLighterDark);
    text-align      : left;
    height          : 35px;
    padding         : 10px;
    width           : 60%;
    margin          : -5px;
    box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.m-panel-result-report>.m-panel-header>label {
    padding: 0px;
}

.m-panel-result-report>img {
    width : 700px;
    height: 100%;
}

/* modal
   -----------------------------------------*/
/* Important part */
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    padding   : 0px !important;
    text-align: center;
}

.modal-body-left {
    padding   : 20px;
    text-align: left;
    max-height: 500px;
    overflow-y: auto;
}

.btn-header {
    margin-left: 30px;
}

/* form-control
   ........................................*/
.form-control {
    height          : 35px;
    border          : 0px;
    background-color: transparent;
}

.form-control[readonly] {
    background-color: transparent !important;
}

.form-control:focus {
    outline         : none;
    box-shadow      : none;
    background-color: var(--white-textcolor);
    border-bottom   : 2px solid var(--active-textcolor);
}

.form-group>input.form-check-input {
    margin-left: 20px;
}

.form-group>label.form-check-label {
    padding-left: 40px;
}

/*  badge result
--------------------------*/
.alert {
    padding         : 20px;
    background-color: #f44336e6;
    color           : white;
    margin-bottom   : 20px;
    border-radius   : 5px;
}

.alert-info {
    padding         : 20px;
    background-color: #2196F3e6;
    color           : white;
    margin-bottom   : 20px;
    border-radius   : 5px;
}

.alert-success {
    background-color: #4CAF50e6;
    padding         : 20px;
    color           : white;
    margin-bottom   : 20px;
    border-radius   : 5px;
}

.closebtn {
    margin-left: 15px;
    color      : white;
    font-weight: bold;
    float      : right;
    font-size  : 22px;
    line-height: 20px;
    cursor     : pointer;
    transition : 0.3s;
}

.closebtn:hover {
    color: black;
}